<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MidiCtrl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
        <MidiCtrl.Properties.Settings>
            <setting name="channel1" serializeAs="String">
                <value />
            </setting>
            <setting name="channel2" serializeAs="String">
                <value />
            </setting>
            <setting name="channel3" serializeAs="String">
                <value />
            </setting>
            <setting name="channel4" serializeAs="String">
                <value />
            </setting>
            <setting name="channel5" serializeAs="String">
                <value />
            </setting>
            <setting name="channel6" serializeAs="String">
                <value />
            </setting>
            <setting name="channel7" serializeAs="String">
                <value />
            </setting>
            <setting name="channel8" serializeAs="String">
                <value />
            </setting>
            <setting name="channel9" serializeAs="String">
                <value />
            </setting>
            <setting name="channel10" serializeAs="String">
                <value />
            </setting>
            <setting name="channel11" serializeAs="String">
                <value />
            </setting>
            <setting name="channel12" serializeAs="String">
                <value />
            </setting>
            <setting name="channel13" serializeAs="String">
                <value />
            </setting>
            <setting name="channel14" serializeAs="String">
                <value />
            </setting>
            <setting name="channel15" serializeAs="String">
                <value />
            </setting>
            <setting name="channel16" serializeAs="String">
                <value />
            </setting>
            <setting name="devices" serializeAs="String">
                <value />
            </setting>
        </MidiCtrl.Properties.Settings>
    </userSettings>
</configuration>
